.app{
display: flex;
flex-direction: column;
align-items: center;

}
.app-login{
    border: 1px solid black;
    padding: 1rem;

}
.app-login-h1{
    margin: 0;

}
.app-login-h4{
margin: 0;
}
.app-login-form{
}
.app-login-form-input{
    display: block;

}
.app-login-form-button{

}